#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/bin/bash /home/arthur/Documentos/FPGA/vivado2025.1_docker/run.sh
Name=Vivado Design Suite
GenericName=Vivado Design Suite
Comment[pt_BR]=Vivado Design Suite 2025.1 Containerizada
Comment[en_US]=Containerized Vivado Design Suite 2025.1
Comment[en_GB]=Containerized Vivado Design Suite 2025.1
Icon=/home/arthur/Documentos/FPGA/vivado2025.1_docker/VivadoIcon.png
Name[pt_BR]=Vivado 2025.1
Name[en_US]=Vivado 2025.1
Name[en_GB]=Vivado 2025.1
Categories=Development;IDE;Science;Electronics;
